<div id="lateral">
<div id="menu">
        
<h3 class="link-titulo">Menu</h3>
  <ul class="box">          
    <li><a><%= link_to "Home", root_path %></a></li>
    <li><a><%= link_to "Anotações", annotations_path %></a></li>
    <li><a><%= link_to "Amigos", friends_path %></a></li>
  </ul>


